/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://wallpapercave.com/wp/wp8744671.jpg');
    background-size: cover;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #444;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
